@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.padding-lr {
    padding: 40px 30px;
}

.padding-lg {
    padding: 60px 40px;
}

.padding-tb {
    padding: 50px 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background: #1f2937;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    margin-right: 15px;
}

nav .navbar ul li:last-child {
    margin-right: 0;
}

nav .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/** End Navbar **/

.hero {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero .hero-content  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero .hero-content .hero-header {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero .hero-content .hero-desc {
    font-size: 20px;
    color: #f9faf8;
    margin: 15px 0;
}

.hero .hero-img {
    flex: 1;
}

.hero .hero-img img {
    width: 100%;
}

.hero .hero-content .btn {
    display: block;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

/** End Hero **/

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1f2937;
    text-transform: uppercase;
    font-weight: bold;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-content .box {
    flex: 1;
    text-align: center;
}

.about-content .box .box-img img {
    width: 100%;
}

/** End About **/

.slogan {
    background-color: #e5e7eb;
}

.slogan-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.slogan-content .slogan-text {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.slogan-content .author {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 200px;
    background-color: #3882f6;
    border-radius: 5px;
}

.footer-header {
    font-size: 20px;
    color: #f9faf8;
}

.footer-desc {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

.footer-btn .secondary-btn {
    display: block;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    font-size: 15px;
    color: #e5e7eb;
    text-transform: uppercase;
    font-weight: bold;
}

